Family/FamilyRecodSystem/Connected Services/ServiceRef_MemberService/MemberService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="MemberService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53478/MemberService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53478/MemberService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53478/MemberService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceApp.DatabaseEntity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMemberService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IMemberService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberService_GetRelations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRelations" />
  </wsdl:message>
  <wsdl:message name="IMemberService_GetRelations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRelationsResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberService_GetExistingMembers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExistingMembers" />
  </wsdl:message>
  <wsdl:message name="IMemberService_GetExistingMembers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExistingMembersResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberService_CreateOrGetApplicantId_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrGetApplicantId" />
  </wsdl:message>
  <wsdl:message name="IMemberService_CreateOrGetApplicantId_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrGetApplicantIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberService_SaveMembers_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveMembers" />
  </wsdl:message>
  <wsdl:message name="IMemberService_SaveMembers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveMembersResponse" />
  </wsdl:message>
  <wsdl:portType name="IMemberService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberService/DoWork" message="tns:IMemberService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberService/DoWorkResponse" message="tns:IMemberService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRelations">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberService/GetRelations" message="tns:IMemberService_GetRelations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberService/GetRelationsResponse" message="tns:IMemberService_GetRelations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExistingMembers">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberService/GetExistingMembers" message="tns:IMemberService_GetExistingMembers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberService/GetExistingMembersResponse" message="tns:IMemberService_GetExistingMembers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrGetApplicantId">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberService/CreateOrGetApplicantId" message="tns:IMemberService_CreateOrGetApplicantId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberService/CreateOrGetApplicantIdResponse" message="tns:IMemberService_CreateOrGetApplicantId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveMembers">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberService/SaveMembers" message="tns:IMemberService_SaveMembers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberService/SaveMembersResponse" message="tns:IMemberService_SaveMembers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMemberService" type="tns:IMemberService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IMemberService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelations">
      <soap:operation soapAction="http://tempuri.org/IMemberService/GetRelations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExistingMembers">
      <soap:operation soapAction="http://tempuri.org/IMemberService/GetExistingMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrGetApplicantId">
      <soap:operation soapAction="http://tempuri.org/IMemberService/CreateOrGetApplicantId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMembers">
      <soap:operation soapAction="http://tempuri.org/IMemberService/SaveMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MemberService">
    <wsdl:port name="BasicHttpBinding_IMemberService" binding="tns:BasicHttpBinding_IMemberService">
      <soap:address location="http://localhost:53478/MemberService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>