Family/FamilyRecodSystem/Connected Services/ServiceRef_MemberService/MemberService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53478/MemberService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceApp.DatabaseEntity" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServiceApp.DatabaseEntity" minOccurs="0" name="GetRelationsResult" nillable="true" type="q1:ArrayOfRelationMst" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExistingMembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExistingMembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServiceApp.DatabaseEntity" minOccurs="0" name="GetExistingMembersResult" nillable="true" type="q2:ArrayOfMemberDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrGetApplicantId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrGetApplicantIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateOrGetApplicantIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" type="xs:int" />
        <xs:element minOccurs="0" name="memberName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberMiddleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberLastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="suffix" type="xs:int" />
        <xs:element minOccurs="0" name="dateOfBirth" type="xs:dateTime" />
        <xs:element minOccurs="0" name="gender" type="xs:int" />
        <xs:element minOccurs="0" name="applicantId" type="xs:int" />
        <xs:element minOccurs="0" name="relationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveMembersResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>