Family/FamilyRecodSystem/Connected Services/ServiceRef_MemberService/MemberService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceApp.DatabaseEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceApp.DatabaseEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRelationMst">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RelationMst" nillable="true" type="tns:RelationMst" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRelationMst" nillable="true" type="tns:ArrayOfRelationMst" />
  <xs:complexType name="RelationMst">
    <xs:sequence>
      <xs:element minOccurs="0" name="RelationId" type="xs:int" />
      <xs:element minOccurs="0" name="RelationName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RelationMst" nillable="true" type="tns:RelationMst" />
  <xs:complexType name="ArrayOfMemberDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MemberDetail" nillable="true" type="tns:MemberDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMemberDetail" nillable="true" type="tns:ArrayOfMemberDetail" />
  <xs:complexType name="MemberDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicantId" type="xs:int" />
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Gender" type="xs:int" />
      <xs:element minOccurs="0" name="MemberId" type="xs:int" />
      <xs:element minOccurs="0" name="MemberLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemberMiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemberName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelationId" type="xs:int" />
      <xs:element minOccurs="0" name="Suffix" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemberDetail" nillable="true" type="tns:MemberDetail" />
</xs:schema>