Family/FamilyRecodSystem/Connected Services/ServiceRef_LoginRegistration/LoginRegistrationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="LoginRegistrationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53478/LoginRegistrationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53478/LoginRegistrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53478/LoginRegistrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceApp.DatabaseEntity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoginRegistrationService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ILoginRegistrationService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginRegistrationService_CheckLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckLogin" />
  </wsdl:message>
  <wsdl:message name="ILoginRegistrationService_CheckLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginRegistrationService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="ILoginRegistrationService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:portType name="ILoginRegistrationService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginRegistrationService/DoWork" message="tns:ILoginRegistrationService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginRegistrationService/DoWorkResponse" message="tns:ILoginRegistrationService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginRegistrationService/CheckLogin" message="tns:ILoginRegistrationService_CheckLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginRegistrationService/CheckLoginResponse" message="tns:ILoginRegistrationService_CheckLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginRegistrationService/Register" message="tns:ILoginRegistrationService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginRegistrationService/RegisterResponse" message="tns:ILoginRegistrationService_Register_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILoginRegistrationService" type="tns:ILoginRegistrationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ILoginRegistrationService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckLogin">
      <soap:operation soapAction="http://tempuri.org/ILoginRegistrationService/CheckLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/ILoginRegistrationService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginRegistrationService">
    <wsdl:port name="BasicHttpBinding_ILoginRegistrationService" binding="tns:BasicHttpBinding_ILoginRegistrationService">
      <soap:address location="http://localhost:53478/LoginRegistrationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>